.top{
    width: 100%;
    height: 60px;
    background-color: yellowgreen;
    position: sticky;
    top: 0;
    display: flex; 
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    z-index: 999;
    opacity: 0.9;
}

.topLeft{
    margin-left: 30px;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: left;
}

.topRight{
    margin-right: 30px;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: right;
}

.topCenter{
    flex: 6;
}

.topIcon{
    margin-left: 15px;
    font-size: 22px;
    color: #444;
    cursor: pointer;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(129, 129, 129);

}

.topList{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.topListItem{
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Varela Round', sans-serif;

}

.topSearchIcon{
    margin-left: 20px;
    font-size: 20px;
    color: #666;
    cursor: pointer;
}